
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Montserrat', sans-serif;
  color: #fff;
}

.layover{
 position: absolute;
  background: rgba(0, 0,0, 0.3);
}

/*  top grigio*/

.grey-background {
  background: #2c3e50;
  color: white;
  padding: 10px 0;
  }

  .hamburger{
    font-size: 30px;
    font-weight:300;
  }

.inline{
  display: inline;
}
  .menu-items{
   display: inline-block;
   color: white;
   font-size: 22px;
   font-weight: 300;
   margin:auto 5px;
  }

 .strboo{
   color: white;
   font-size: 26px;
   font-weight: 600;
 }

/*  main verde*/

.green-background{
  background: #18bc9c;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.profile{
  margin-top: 120px;

}

.star-light{
  color: #fff;
}

.fa-star{
  font-size: 50px;
  margin: 8px;
}

.fa-centos{
  font-size: 50px;
  margin: 8px;
}
.MainItems{
  margin: 5px;
}

.title{
  font-weight:600;
  font-size: 50px;
}

.MainItems h3{
  font-weight: 400;
  font-size: 20px;
}

/*  portfolio */

.portofolio{
  margin: 10px;
  padding: 10px;
}

.portfolio{
  color:  #2c3e50;
  background: #fff;
  font-weight: 1000;
  font-size: 40px;
}

.star-black{
  color: #2c3e50;
}


/* about verde */

.about{
  background: #18bc9c;
  color: #fff;
  padding:10px;
}

.me{
  color: #fff;
  font-weight: 1000;
  font-size: 40px;
  margin: 20px;
}

/*  contact bianco*/

.contatti{
  padding: 5px;
}

.contact{
  margin: 20px;
  font-size: 40px;
  font-weight: 1000;
  color: #2c3e50;
}

.cont-items{
 margin:5px;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 1px solid #2c3e50;
 color: #2c3e50;
 width: 70%;
 height: 60px;
 font-size: 30px;
 font-weight: 400;
}


/* .mex-item{
 margin:5px;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 1px solid #2c3e50;
 color: #2c3e50;
 width: 50%;
} */




/* footer grey */

.piede{
  background: #2c3e50;
  color: white;
  padding: 50px 0;
}

.icone > i{
  border: 1px solid white;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 200;
  padding:8px;
}

/* footer strong gray */

.copyright{
  background: #1a252f;
  color:#fff;
  height: 55px;
  font-size: 15px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* fine */


.fl-rg{
  float: right;
  }

  .l-h50{
   line-height: 50px;
 }

.red{
  background: red;
}



/* stelle */

hr .star-dark:after, hr .star-light:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
}

.mb-5, .my-5{
    margin-bottom: 3rem!important;
}

hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}
/* stelle */

 .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
 }

.btn-color{
  background: #18bc9c;
  color: #fff;
  border: 2px solid white;
  margin:20px;
}
